@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

code {
  background-color: #282c34;
  color: #61dafb;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95em;
}

pre {
  background-color: #282c34;
  color: #abb2bf;
  padding: 1em;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95em;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1.5em 0;
  white-space: pre-wrap;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
